version: "3.8"

services:
  debian-vm:
    container_name: ${CONTAINER_NAME}
    build: .
    restart: always
    # 特权模式，允许 DinD
    privileged: true
    environment:
      - ROOT_PASSWORD=${ROOT_PASSWORD}
    ports:
      - "${SSH_PORT}:22"
      - "${PORT_RANGE_START}-${PORT_RANGE_END}:${PORT_RANGE_START}-${PORT_RANGE_END}"
    volumes:
      # 将宿主机当前目录下的 container/data 挂载到容器内的 /data
      - ./container/data:/data
      - ./container/root-home:/root
    deploy:
      resources:
        limits:
          cpus: "${CPU_LIMIT}"
          memory: "${MEM_LIMIT}"

volumes:
  docker-data:
  root-home:
